{% extends 'base.html' %}

{% block body %}
    <section id="add" style="margin-left: 0em !important">
      <h1 class="ui header">Crear procuraduría.</h1>
      <form class="ui form" id="nueva_procuraduría" name="instituciones" action="/instituciones/add" method="POST">
        <div class="required field">
          <label>Nombre procuraduría:</label>
          <input type="text" name="name" id="name" placeholder="Nombre procuraduria">
        </div>
        <div class="field">
            <label>Dirección:</label>
            <input type="text" name="address" id="address" placeholder="Dirección">
          </div>
        <button class="ui primary button" type="submit">Guardar procuraduría</button>
      </form>
    </section>

    <script>
      $(function () {
          //Validación de formulario
          $('.ui.form')
              .form({
                  inline: true,
                  on: 'blur',
                  fields: {
                      name: {
                          identifier: 'name',
                          rules: [{
                              type: 'empty',
                              prompt: 'Por favor ingrese el nombre de la procuraduría.'
                          }]
                      },
                      address: {
                          identifier: 'address',
                          rules: [{
                              type: 'empty',
                              prompt: 'Por favor ingrese la dirección.'
                          }]
                      },
                  }
              });
      });
  </script>
{% endblock %}