{% extends 'base.html'%}

{% block views %}

<div id="exito" class="ui success message center aligned" style="display: none">
    <div class="header green">Éxito</div>
    <p>¡Registro guardado correctamente!</p>
</div>

<br>

<section id="formulario_vehiculo" class="ui container" style="margin-left: 0em !important;font-size-adjust: inherit;">
    <h1 class="ui header left aligned">Agregar Vehículo</h1>
    <form class="ui equal width form" id="nuevo_vehiculo" name="vehiculo" action="/vehiculos/add" method="POST">
        <div class="fields">
            <div class="required  field">
                <label for="brand">Marca</label>
                <input id="name" name="brand" type="text" placeholder="Ej.: Toyota">
            </div>
            <div class="required field" style="margin-left: 2em !important">
                <label for="chassis">Chasis</label>
                <input id="chassis" name="chassis" type="text" placeholder="Chasis">
            </div>
            <div class="required field four wide" style="margin-left: 1em !important">
                <label for="state">Estado</label>
                <div class="ui selection dropdown" style="margin-left: 2em !important">
                    <input type="hidden" name="state">
                    <i class="dropdown icon"></i>
                    <div class="default text">Estado</div>
                    <div class="menu">
                        <!-- {% for value, state in states %}
                        <div class="item" data-value={{value}}>{{state}}</div>
                        {% endfor %} -->
                        <div class="item" data-value="0">Funcional</div>
                        <div class="item" data-value="1">En Mantenimiento</div>
                        <div class="item" data-value="2">Dañado</div>
                    </div>
                </div>
            </div>
        </div>
        <label class="equal width fields">
            <div class="required field">
                <label for="model">Modelo</label>
                <input id="model" name="model" type="text" placeholder="Ej. Corolla SE">
            </div>
            <label class="required field">
                <label for="engine">Motor</label>
                <input id="engine" name="engine" type="text" placeholder="64EKT931230">
            </label>
            <div class="required field">
                <label for="plate">Placa</label>
                <input id="plate_form" name="plate" type="text" placeholder="AA236963">
            </div>
            <div class="required field">
                <label for="seats">Asientos</label>
                <input id="seats" name="seats" type="number" placeholder="2-40">
            </div>
        </label>
        <br>
        <button id="submit_form" class="ui positive submit enter button" type="submit">Guardar</button> <button
            id="cancel_form" class="ui reset negative button" type="button">Cancel</button>
    </form>
</section>
<script src="/public/static/js/a_cars.js"></script>

{% endblock %}