{% extends 'base.html'%}

{% block views %}
<section id="lista_vehiculos" class="ui container" style="margin-left: 0em !important">
    <h1 id="title" class="ui header left">Vehículos</h1>
    <table id="listado_vehiculos" class="ui selectable table" style="width:50em;max-height:300px;">
        <thead class="full-width">
            <tr style="text-align: center">
                <th>Placa</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th class="sorted ascending descending">Asientos</th>
                <th>Chasis</th>
                <th>Motor</th>
                <th class="sorted descending ascending">Estado</th>
            </tr>
        </thead>
        <tbody>
            {% if cars %}
            {% for c in cars %}
            <tr>
                <td style="display: none">{{c.id}}</td>
                <td class="aligned">{{c.plate}}</td>
                <td class="center aligned">{{c.brand}}</td>
                <td class="center aligned">{{c.model}}</td>
                <td class="center aligned">{{c.seats}}</td>
                <td class="center aligned">{{c.chassis}}</td>
                <td class="center aligned">{{c.engine}}</td>
                {% set state = c.state %}
                <td id="state_table"
                    class={{"positive" if state == "funcional" else ("warning" if state == "mantenimiento" else "error")}}>
                    {% if state == "funcional" %}
                    <i class="check icon"></i>
                    {% elif state == "mantenimiento" %}
                    <i class="exclamation icon"></i>
                    {% else %}
                    <i class="x icon"></i>
                    {% endif %}
                    {{c.state | capitalize}}
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <td colspan="7">No hay registros disponibles</td>
            {% endif %}
        </tbody>
    </table>
    <table>
        <tr>
            <td>
                <div id="nuevo" class="left aligned">
                    <button class="ui green button">Nuevo</button>
                </div>
            </td>
            <td style="width: 200px"></td>
            <td>
                <div id="editar" class="left aligned">
                    <button class="ui olive button">Editar</button>
                </div>
            </td>
        </tr>
    </table>
</section>
<br>

<div id="exito" class="ui success message center aligned" style="display: none">
    <div class="header">Éxito</div>
    <p>¡Registro guardado correctamente!</p>
</div>

<br>
<section id="formulario_vehiculo" class="ui container" style="margin-left: 0em !important">
    <h1 class="ui header left aligned">Agregar Vehículo</h1>
    <form class="ui equal width form" id="nuevo_vehiculo" name="vehiculo" action="/vehiculos/add" method="POST">
        <div class="fields">
            <div class="required disabled field">
                <label for="brand">Marca</label>
                <input name="brand" type="text" placeholder="Ej.: Toyota">
            </div>
            <div class="required disabled field" style="margin-left: 3em !important">
                <label for="chassis">Chasis</label>
                <input name="chassis" type="text" placeholder="Chasis">
            </div>
            <div class="field">
                <div class="grouped required fields" id="state" style="margin-left: 3em !important">
                    <label>Estado</label>
                    {% for value, state in states %}
                    <div class="disabled field">
                        <div class="ui toggle checkbox">
                            <input id={{value}} type="radio" name="state" value={{value}}>
                            <label for="state">{{state}}</label>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="equal width fields">
            <div class="required disabled field">
                <label for="model">Modelo</label>
                <input name="model" type="text" placeholder="Ej. Corolla SE">
            </div>
            <div class="required disabled field">
                <label for="engine">Motor</label>
                <input name="engine" type="text" placeholder="64EKT931230">
            </div>
            <div class="required disabled field">
                <label for="plate">Placa</label>
                <input name="plate" type="text" placeholder="AA236963">
            </div>
            <div class="required disabled field">
                <label for="seats">Asientos</label>
                <input name="seats" type="number" placeholder="2-40">
            </div>
        </div>
        <br>
        <div id="buttons" class="ui right floated buttons">
            <button id="submit_form" class="ui disabled teal submit enter button" type="submit">Guaradar</button>
            <div class="or"></div>
            <button id="cancel_form" class="ui disabled reset red button" type="button">Cancel</button>
        </div>
    </form>
</section>

<div class="ui basic modal">
    <i class="close icon"></i>
    <div class="header">
        Agregar Nuevo vehículo
    </div>
    <div class="description">
        ¿Desea agregar un nuevo registro?
    </div>
    <div class="actions">
        <div class="ui inverted gray button deny"><i class="close icon"></i> Cancel</div>
        <div class="ui inverted green button approve"><i class="plus icon"></i> Sí</div>
    </div>
</div>

<!-- <script src="/public/static/js/a_cars.js"></script> -->
<script>
    $(function () {
        //Validacion de formulario
        $('.ui.form')
            .form({
                inline: true,
                on: 'blur',
                fields: {
                    brand: {
                        identifier: 'brand',
                        rules: [{
                            type: 'empty',
                            prompt: 'Por favor ingrese la marca del vehículo'
                        }]
                    },
                    chassis: {
                        identifier: 'chassis',
                        rules: [{
                            type: 'empty',
                            prompt: 'Por favor ingrese información del chasis'
                        }]
                    },
                    state: {
                        identifier: 'state',
                        rules: [{
                            type: 'checked',
                            prompt: 'Debe seleccionar el estado del vehículo'
                        }]
                    },
                    model: {
                        identifier: 'model',
                        rules: [{
                            type: 'empty',
                            prompt: 'Por favor ingrese el modelo'
                        }]
                    },
                    engine: {
                        identifier: 'engine',
                        rules: [{
                                type: 'empty',
                                prompt: 'Por favor ingrese número del motor'
                            },
                            {
                                type: 'minLength[10]',
                                prompt: 'La información del motor debe contener al menos caracteres 10'
                            }
                        ]
                    },
                    plate: {
                        identifier: 'plate',
                        rules: [{
                                type: 'empty',
                                prompt: 'Por favor ingrese el número de placa'
                            },
                            {
                                type: 'minLength[4]',
                                prompt: 'El numero de placa puede poseer menos de 4 caracteres'
                            },
                            {
                                type: 'maxLength[8]',
                                prompt: 'El numero de placa no puede poseer más de 8 caracteres'
                            },
                            {
                                type: 'regExp[/^[A-Z]{1,2}[0-9]{4,6}$/]',
                                prompt: 'El número de placa debe tener este este formato: AA999999'
                            }
                        ]
                    },
                    seats: {
                        identifier: 'seats',
                        rules: [{
                            type: 'integer[2..40]',
                            prompt: 'Le número de asientos del vehículo debe ser entre 2 y 40'
                        }]
                    }
                }
            });

        //Setea el radio button de la opcion funcional como chequeado
        $('#Funcional').attr("checked", "checked");

        //Muestra Mensaje de confirmacion  cuando se desea ingesar un nuevo registro
        $('#nuevo').on('click', () => {
            $('.ui.basic.modal')
                .modal({
                    closable: true,
                    onDeny: function () {
                        return true;
                    },
                    onApprove: function () {
                        $('.field').removeClass("disabled");
                        $('#submit_form').removeClass("disabled");
                        $('#cancel_form').removeClass("disabled");
                    }
                })
                .modal('show');
        });

        //Verifica que elemento de la tabla fue seleccionado con un click
        /* $('.ui.table').click(function (event) {
            var text = $(event.target).text();
            window.alert(text);
        });*/

        /* $('#listado_vehiculos').find('tr').click(function () {
            alert('You clicked row ' + ($(this).index() + 1));
        }); */
    });
</script>
{% endblock %}