{% extends 'base.html'%}

{% block views %}
<section id="lista_vehiculos" class="ui container" style="margin-left: 0em !important">
    <h1 id="title" class="ui header left">Vehículos</h1>
    <table class="ui selectable large table" style="width:80em;max-height:400px;">
        <thead class="full-width">
            <tr style="text-align: center">
                <th>Placa</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th class="sorted ascending descending">Asientos</th>
                <th>Chasis</th>
                <th>Motor</th>
                <th class="sorted descending ascending">Estado</th>
            </tr>
        </thead>
        <tbody>
            {% if cars %}
            {% for c in cars %}
            <tr>
                <td class="center aligned">{{c.plate}}</td>
                <td class="center aligned">{{c.brand}}</td>
                <td class="center aligned">{{c.model}}</td>
                <td class="center aligned">{{c.seats}}</td>
                <td class="center aligned">{{c.chassis}}</td>
                <td class="center aligned">{{c.engine}}</td>
                <td id="state" class="positive"><i class="exclamation icon"></i><i class="check icon"></i><i
                        class="x icon"></i>{{c.state}}</td>
            </tr>
            {% endfor %}
            {% else %}
            <td colspan="7">No hay registros disponibles</td>
            {% endif %}
        </tbody>
    </table>
    <table>
        <tr>
            <td>
                <div id="nuevo" class="left aligned">
                    <button class="ui green button">Nuevo</button>
                </div>
            </td>
            <td style="width: 200px"></td>
            <td>
                <div id="editar" class="left aligned">
                    <button class="ui olive button">Editar</button>
                </div>
            </td>
        </tr>
    </table>
</section>
<br>

<div id="exito" class="ui success message center aligned" style="display: none">
    <div class="header">Éxito</div>
    <p>¡Registro guardado correctamente!</p>
</div>

<br>
<section id="formulario_vehiculo" class="ui container" style="margin-left: 0em !important">
    <h1 class="ui header left aligned">Agregar Vehículo</h1>
    <form class="ui equal width large form" id="nuevo_vehiculo" name="vehiculo">
        <div class="fields">
            <div class="required field">
                <label for="brand">Marca</label>
                <input name="brand" type="text" placeholder="Ej.: Toyota">
            </div>
            <div class="required field" style="margin-left: 3em !important">
                <label for="chassis">Chasis</label>
                <input name="chassis" type="text" placeholder="Chasis">
            </div>
            <div class="field">
                <input type="hidden" name="state_chosen" id="confirm_value" value="">
                <div class="grouped required fields" id="state" style="margin-left: 3em !important">
                    <label>Estado</label>
                    <div class="field">
                        <div class="ui toggle checkbox">
                            <input type="radio" id="funcional" name="state" checked="checked">
                            <label class="coloring green">Funcional</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui toggle checkbox">
                            <input type="radio" id="mantenimiento" name="state">
                            <label>Mantenimiento</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui toggle checkbox">
                            <input type="radio" id="daniado" name="state">
                            <label>Dañado</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="equal width fields">
            <div class="required field">
                <label for="model">Modelo</label>
                <input name="model" type="text" placeholder="Ej. Corolla SE">
            </div>
            <div class="required field">
                <label for="engine">Motor</label>
                <input name="engine" type="text" placeholder="64EKT931230">
            </div>
            <div class="required field">
                <label for="plate">Placa</label>
                <input name="plate" type="text" placeholder="AA236963">
            </div>
            <div class="required field">
                <label for="seats">Asientos</label>
                <input name="seats" type="number" placeholder="2-40">
            </div>
        </div>
        <br>
        <div class="ui right floated buttons">
            <button class="ui teal button" type="submit">Guaradar</button>
            <div class="or"></div>
            <button class="ui red button" type="button">Cancel</button>
        </div>
    </form>
</section>
<!-- <script src="/public/static/js/a_cars.js"></script> -->
<script>
    $(function () {
        $('.ui.form')
            .form({
                inline: true,
                on: 'blur',
                fields: {
                    brand: {
                        identifier: 'brand',
                        rules: [{
                            type: 'empty',
                            prompt: 'Por favor ingrese la marca del vehículo'
                        }]
                    },
                    chassis: {
                        identifier: 'chassis',
                        rules: [{
                            type: 'empty',
                            prompt: 'Por favor ingrese información del chasis'
                        }]
                    },
                    model: {
                        identifier: 'model',
                        rules: [{
                            type: 'empty',
                            prompt: 'Por favor ingrese el modelo'
                        }]
                    },
                    engine: {
                        identifier: 'engine',
                        rules: [{
                                type: 'empty',
                                prompt: 'Por favor ingrese número del motor'
                            },
                            {
                                type: 'minLength[10]',
                                prompt: 'La información del motor debe contener al menos caracteres'
                            }
                        ]
                    },
                    plate: {
                        identifier: 'plate',
                        rules: [{
                                type: 'empty',
                                prompt: 'Por favor ingrese el número de placa'
                            },
                            {
                                type: 'minLength[4]',
                                prompt: 'El numero de placa puede poseer menos de 4 caracteres'
                            },
                            {
                                type: 'maxLength[8]',
                                prompt: 'El numero de placa no puede poseer más de 8 caracteres'
                            },
                            {
                                type: 'regExp[/^([A-Z]{1,2})([a-z0-9]{4,8}$/]',
                                prompt: 'El número de placa debe tener este este formato: AA999999'
                            }
                        ]
                    },
                    seats: {
                        identifier: 'seats',
                        rules: [{
                            type: 'integer[2..40]',
                            prompt: 'Le número de asientos del vehículo debe ser entre 2 y 40'
                        }]
                    }
                }
            });
    });
</script>
{% endblock %}