USE [sigestran]
GO
ALTER TABLE [dbo].[city] DROP CONSTRAINT [FK__city__department__4D94879B]
GO
/****** Object:  Table [dbo].[department]    Script Date: 22/08/2019 10:20:00 p.m. ******/
DROP TABLE [dbo].[department]
GO
/****** Object:  Table [dbo].[city]    Script Date: 22/08/2019 10:20:00 p.m. ******/
DROP TABLE [dbo].[city]
GO
/****** Object:  Table [dbo].[city]    Script Date: 22/08/2019 10:20:00 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[city](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
	[department_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[department]    Script Date: 22/08/2019 10:20:00 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[department](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[created_at] [datetimeoffset](7) NOT NULL,
	[updated_at] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[city] ON 

INSERT [dbo].[city] ([id], [name], [created_by], [updated_by], [created_at], [updated_at], [department_id]) VALUES (1, N'Santa Tecla', 0, 0, CAST(N'2019-07-15T05:18:42.0000000+00:00' AS DateTimeOffset), CAST(N'2019-07-15T05:18:42.0000000+00:00' AS DateTimeOffset), 5)
INSERT [dbo].[city] ([id], [name], [created_by], [updated_by], [created_at], [updated_at], [department_id]) VALUES (2, N'Antiguo Cuscatlán', 0, 0, CAST(N'2019-07-15T05:18:42.0000000+00:00' AS DateTimeOffset), CAST(N'2019-07-15T05:18:42.0000000+00:00' AS DateTimeOffset), 5)
INSERT [dbo].[city] ([id], [name], [created_by], [updated_by], [created_at], [updated_at], [department_id]) VALUES (3, N'Chiltiupán', 0, 0, CAST(N'2019-07-15T05:18:42.0000000+00:00' AS DateTimeOffset), CAST(N'2019-07-15T05:18:42.0000000+00:00' AS DateTimeOffset), 5)
GO
SET IDENTITY_INSERT [dbo].[city] OFF
SET IDENTITY_INSERT [dbo].[department] ON 

INSERT [dbo].[department] ([id], [name], [created_by], [updated_by], [created_at], [updated_at]) VALUES (1, N'Ahuachapán', NULL, NULL, CAST(N'2019-07-15T05:18:42.0870000+00:00' AS DateTimeOffset), CAST(N'2019-07-15T05:18:42.0870000+00:00' AS DateTimeOffset))
INSERT [dbo].[department] ([id], [name], [created_by], [updated_by], [created_at], [updated_at]) VALUES (2, N'Santa Ana', NULL, NULL, CAST(N'2019-07-15T05:18:42.0870000+00:00' AS DateTimeOffset), CAST(N'2019-07-15T05:18:42.0870000+00:00' AS DateTimeOffset))
INSERT [dbo].[department] ([id], [name], [created_by], [updated_by], [created_at], [updated_at]) VALUES (3, N'Sonsonate', NULL, NULL, CAST(N'2019-07-15T05:18:42.0870000+00:00' AS DateTimeOffset), CAST(N'2019-07-15T05:18:42.0870000+00:00' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[department] OFF
ALTER TABLE [dbo].[city]  WITH CHECK ADD FOREIGN KEY([department_id])
REFERENCES [dbo].[department] ([id])
ON DELETE SET NULL
GO
