{% extends 'base.html' %}

{% block body %}
    <section id="add">
      <h1 class="ui header">Crear ruta.</h1>
      <form class="ui form" method="POST" action="{{c_ruta/add}}">
        <div class="required field">
          <label>Nombre de la ruta:</label>
          <input type="text" name="route_name" id="route_name" placeholder="Nombre de la ruta" value={{route_name}}>
        </div>
        <div class="required field">
            <label>Días de servicio:</label>
            <input type="text" name="service_days" id="service_days" placeholder="Días de servicio" value={{service_days}}>
          </div>
        <button class="ui primary button" type="submit">Guardar ruta</button>
      </form>
    </section>
{% endblock %}