{% extends 'index.html' %}

{% block views %}
<div class="ui container" id="add">
  <h1 class="ui blue dividing header">Editar ruta estándar</h1>
  <form class="ui form" action="/rutas/actualizar" method="POST">
    <div class="required field">
      <label>Nombre de la ruta estándar:</label>
      <input type="text" name="name" id="name" value="{{Ruta.name}}">
    </div>
    <input type="hidden" id="route_id" autocomplete="off" name="route_id" value={{ Ruta.id }}>
    <a href="/rutas">
      <div class="ui left floated animated button" type="button">
        <div class="visible content">Volver</div>
        <div class="hidden content">
          <i class="left arrow icon"></i>
        </div>
      </div>
    </a>
    <button class="ui positive button" type="submit">Guardar</button>
  </form>
  <br>
  {% if errors %}
  <div class="ui error message">
    {% for error in errors %}
    <li> {{ error.msg }} </li>
    {% endfor %}
  </div>
  {% endif %}
</div>

<script src="/javascript/route/a_route.js"></script>
{% endblock %}