{% extends 'base.html' %}

{% block views %}
<section id="lista_routes">
    <h1 id="title" class="ui header">Lista de rutas.</h1>
    <table class="ui collapsing table">
        <thead>
            <tr class="ui green table">
                <th>Nombre de la ruta</th>
            </tr>
        </thead>
        <tbody>
            {% for route in Routes %}
            <tr>
                <td>{{ route.name }}</td>
            </tr>
        </tbody>
    </table>
    {% else %}
    <p>No hay rutas disponibles.</p>
    {% endfor %}
</section>
{% endblock %}