{% extends 'index.html' %}

{% block views %}
<div class="ui container" id="add">
  {% if Procu %}
  <h1 class="ui blue dividing header">Editar procuraduría</h1>
  {% else %}
  <h1 class="ui blue dividing header">Crear procuraduría</h1>
  {% endif %}
  <form class="ui form" action="/instituciones/gestionar" method="POST">
    <div class="required field">
      <label>Nombre procuraduría:</label>
      <input type="text" name="name" id="name" value="{{Procu.name}}">
    </div>
    <!-- {% include '../address/add.html' %} -->
    <input type="hidden" id="procu_id" name="procu_id" value={{ Procu.id }}>
    <a href="/instituciones">
      <div class="ui left floated animated button" type="button">
        <div class="visible content">Volver</div>
        <div class="hidden content">
          <i class="left arrow icon"></i>
        </div>
      </div>
    </a>
    <button class="ui positive button" type="submit">Guardar</button>
  </form>
  {% if errors %}
  <div class="ui error message">
    {% for error in errors %}
    <li> {{ error.msg }} </li>
    {% endfor %}
  </div>
  {% endif %}
</div>

<script src="/javascript/procuraduria/a_procu.js"></script>

{% endblock %}