{% extends '../base.html' %}
{% block body %}

    <section id="add" class="ui center aligned container">
      <h1 class="ui header">Crear procuraduría.</h1>
      <form class="ui form">
        <div class="required field">
          <label>Nombre procuraduría:</label>
          <input type="text" name="procuraduria_name" placeholder="Nombre procuraduria" value={{procuraduria_name}}>
        </div>
        <button class="ui primary button">Save</button>
      </form>
    </section>

{% endblock %}