{% extends 'index.html' %}
{% block views %}

    <section id="lista_procuradurias" class="ui container">
        <h1 id="title" class="ui header">Lista de procuradurías</h1>
        <a href="/instituciones/add">
            <button class="ui primary button">Agregar procuraduría</button></a>
        <br> <br>
        <table class="ui celled compact collapsing table datatable" id="mytable" name="mytable">
            <thead>
                <tr>
                    <th class="center aligned">Nombre</th>
                    <th></th>
                    {# Aquí va el form para editar. No borrar. #}
                </tr>
            </thead>
            <tbody>
                {% for procu in Procuradurias %}
                    <tr>
                        <td>{{ procu.name }}</td>
                        <td>
                            <form action="/instituciones/update" method="GET">
                                <input type="hidden" id="procu_id" name="procu_id" value={{ procu.id }}>
                                <button type="submit" class="ui icon button" data-content="Editar procuraduría">
                                    <i class="black edit icon"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                {% else %}
                    <p>No hay procuradurías disponibles.</p>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <script src="/javascript/procuraduria/a_procuraduria_list.js"></script>
    <script src="/stylesheets/datatablefix.css"></script>
{% endblock %}