{% extends 'base.html' %}
{% block views %}

<section id="lista_procuradurias">
    <h1 id="title" class="ui header">Lista de procuradurías</h1>
    <table class="ui collapsing table">
        <thead>
            <tr class="ui green table">
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            {% for procu in Procuraduria %}
            <tr>
                <td>{{ procu.name }}</td>
            </tr>
            {% else %}
                <p>No hay procuradurías disponibles.</p>
            {% endfor %}
        </tbody>
    </table>


</section>
{% endblock %}