.ui.animated.button(tabindex='0')
  .visible.content
    font(style='vertical-align: inherit;')
      font(style='vertical-align: inherit;') Siguiente
  .hidden.content
    i.right.arrow.icon
.ui.vertical.animated.button(tabindex='0')
  .hidden.content
    font(style='vertical-align: inherit;')
      font(style='vertical-align: inherit;') tienda
  .visible.content
    i.shop.icon
.ui.animated.fade.button(tabindex='0')
  .visible.content
    font(style='vertical-align: inherit;')
      font(style='vertical-align: inherit;') Reg&iacute;strese para obtener una cuenta Pro
  .hidden.content
    font(style='vertical-align: inherit;')
      font(style='vertical-align: inherit;')
        | $ 12.99 al mes

