<!-- Aquí debería de ir el home/dashboard luego del login, lo que está ahorita solo es prueba. -->
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="scripts/semantic-ui-css/semantic.min.css">
    <script src="scripts/jquery/dist/jquery.min.js"></script>
    <script src="scripts/semantic-ui-css/semantic.min.js"></script>
  </head>
<body>
    {% block body %}
    <form class="ui form">
      <div class="field">
        <label>First Name</label>
        <input type="text" name="first-name" placeholder="First Name">
      </div>
      <div class="field">
        <label>Last Name</label>
        <input type="text" name="last-name" placeholder="Last Name">
      </div>
      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" tabindex="0" class="hidden">
          <label>I agree to the Terms and Conditions</label>
        </div>
      </div>
      <button class="ui button" type="submit">Submit</button>
    </form>
    <div class="ui animated button" tabindex="0">
      <div class="visible content"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Siguiente</font></font></div>
      <div class="hidden content">
        <i class="right arrow icon"></i>
      </div>
    </div>
    <div class="ui vertical animated button" tabindex="0">
      <div class="hidden content"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">tienda</font></font></div>
      <div class="visible content">
        <i class="shop icon"></i>
      </div>
    </div>
    <div class="ui animated fade button" tabindex="0">
      <div class="visible content"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Regístrese para obtener una cuenta Pro</font></font></div>
      <div class="hidden content"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
        $ 12.99 al mes
      </font></font></div>
    </div>
    {% endblock %}
</body>
</html>
