{% extends 'login.html' %}

{% block body %}
<div class="ui top attached demo menu">
    <a class="item">
        <i class="sidebar icon"></i>
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Men&uacute;</font>
        </font>
    </a>
</div>
<div class="ui bottom attached segment pushable">
    <div class="ui visible inverted labeled icon left inline vertical sidebar menu">
        <a class="item" href="/home">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Inicio</font>
            </font>
        </a>
        <a class="item" href="/instituciones">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Procuradurias</font>
            </font>
        </a>
        <a class="item" href="/vehiculos">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Vehiculos</font>
            </font>
        </a>
        <a class="item" style="display: none">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Motoristas</font>
            </font>
        </a>
        <a class="item" href="/rutas">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Rutas</font>
            </font>
        </a>
        <a class="item" style="display: none">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Vales</font>
            </font>
        </a>
        <a class="item" style="display: none">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Calendarizacion</font>
            </font>
        </a>
    </div>
    <div class="pusher">
        <div class="ui basic segment">
            <h3 class="ui header">
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">
                        {% block views %}

                        {% endblock %}
                    </font>
                </font>
            </h3>
        </div>
    </div>
</div>
{% endblock %}