{% extends 'index.html' %}
{% block views %}
<div class="ui container">
    <div class="ui vertically divided grid">
        <div class="one column row">
            <div class="column">
                <form class="ui form" id="folo6_form" method="POST">
                    <div></div>
                    <h3 class="ui blue dividing header">Solicitud de transporte FOLO-6</h3>
                    <div class="labels">
                        <label>Fecha de solicitud: </label>
                        <label id="date_lb">--/--/--</label>
                    </div>
                    <div class="labels">
                        <label>Unidad solicitante: </label>
                        <label id="unidad_lb">Unidad ---</label>
                    </div>
                    <div class="three wide field">
                        <label for="calendar1">Fecha de salida: </label>
                        <div class="ui calendar" id="standard_calendar">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" placeholder="Seleccione fecha" name="calendar1" autocomplete="off"
                                    id="calendar1_id">
                            </div>
                        </div>
                    </div>
                    <div class="three wide field">
                        <label>Hora de salida: </label>
                        <!-- TIMER -->
                        <div class="ui calendar" id="time_calendar">
                            <div class="ui input left icon">
                                <i class="time icon"></i>
                                <input type="text" placeholder="Seleccione la hora" id="time" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="three wide field">
                        <label>Hora de retorno: </label>
                        <!-- TIMER -->
                        <div class="ui calendar" id="time_calendar1">
                            <div class="ui input left icon">
                                <i class="time icon"></i>
                                <input type="text" placeholder="Seleccione la hora" id="time1" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="fields">
                            <div class="ui toggle checkbox" id="driver_cb">
                                <input type="checkbox" name="driver_i" checked="checked" tabindex="0" class="hidden">
                                <label for="driver_i">Motorista</label>
                            </div>
                            <div class="one wide field"></div>
                            <label>Cantidad de pasajeros: </label>
                            <div class="two wide field">
                                <input type="number" name="passengers_i" min="0" max="40" value="0">
                            </div>
                        </div>
                    </div>
                    <div class="fields">
                        <div class="eight wide field" id="name_driver_f">
                            <label for="name_driver_i">Nombre:</label>
                            <input type="text" placeholder="Perona que va a coducir" name="name_driver_i"
                                id="n_driver_i" disabled="true" maxlength="100">
                        </div>
                        <div class="field" id="type_license_f">
                            <label for="license_ls_id">Tipo de licencia:</label>
                            <select class="ui fluid dropdown" name="license_ls" id="license_ls_id" disabled="true">
                                <option value="">Tipo de licencia</option>
                                <option value="1">Particular</option>
                                <option value="2">Liviana</option>
                                <option value="3">Pesada</option>
                                <option value="4">Pesada-T</option>
                            </select>
                        </div>
                    </div>
                    <!-- área de rutas -->
                    <h4 class="ui blue dividing header">Lugar de destino</h4>
                    <div class="field">
                        <div class="two fields">
                            <div class="field">
                                <label>Departamento</label>
                                <select class="ui fluid dropdown" name="departamento_ls">
                                    <option value="">Seleccione el Departamento</option>
                                    <option value="1">Santa Ana</option>
                                    <option value="2">San Salvador</option>
                                    <option value="3">La Union</option>
                                </select>
                            </div>
                            <div class="field">
                                <label>Municipio</label>
                                <select class="ui fluid dropdown" name="municipio_ls">
                                    <option value="">Seleccione el Departamento</option>
                                    <option value="1">Ciudad Delgado</option>
                                    <option value="2">Soyapango</option>
                                    <option value="3">Apopa</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <select class="ui fluid dropdown" name="place_ls">
                            <option value="">Seleccione el lugar de destino</option>
                            <option value="1">Aeropuerto Internacional de El Salvador San Óscar Arnulfo
                                Romero y
                                Galdámez</option>
                            <option value="2">Alcaldía Municipal de Apopa</option>
                            <option value="3">Centro Judicial de Santa Tecla</option>
                            <option value="3">Otro</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>Lugar de destino</label>
                        <input type="text" name="destiny_place_i" disabled="disabled">
                    </div>
                    <div class="field">
                        <label>Detalle de dirección</label>
                        <textarea rows="3" name="direction_txt" disabled="disabled"
                            placeholder="Calle x, pasaje y, local...."></textarea>
                    </div>
                    <button class="ui button">Agregar dirección</button>
                    <table class="ui celled table tablet stackable">
                        <thead>
                            <tr>
                                <th>Destino</th>
                                <th>Dir</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-label="Destino">Alacaldía Municipal de Apopa</td>
                                <td data-label="Dir">24, calle Leonardo Azgunaga</td>
                            </tr>
                        </tbody>
                    </table>
                    <h4 class="ui blue dividing header">Misión</h4>
                    <div class="field">
                        <label>Misión o motivo del viaje</label>
                        <input type="text" name="mision_i" placeholder="Auditoria al área laboral..." maxlength="150"
                            id="mision_i_id">
                    </div>
                    <div class="field">
                        <label>Observaciones (Opcional)</label>
                        <input type="text" name="details_i"
                            placeholder="Llevaremos cajas pesadas, esperamos al motorista en la entrada del edificio central"
                            maxlength="150">
                    </div>
                    <div class="ui error message"></div>
                    <button class="ui right aligned primary submit green button" id="save_print_btn">Guardar e
                        imprimir</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--Validaciones-->
<script src="/javascript/a_folo6.js"></script>
<style>
    .ui.container {
        overflow: visible;
    }
</style>

{% endblock %}