{% extends 'index.html' %}


{% block views %}
<div class="ui container">
    <div class="ui vertically divided grid">
        <div class="sixteen wide column">
            <br>
            <h1 id="title" class="ui blue dividing header">Solicitudes Recientes</h1>
            <table class="ui celled table datatable" id="mytable" name="mytable" style="width: 100%">
                <thead>
                    <tr>
                        <th>Fecha de salida</th>
                        <th>Hora de salida</th>
                        <th>Hora de retorno</th>
                        <th>Cantidad de pasajeros</th>
                        <th>Motorista</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>off_date</td>
                        <td>off_hour</td>
                        <td>return_hour</td>
                        <td>passengers_number</td>
                        <td>with_driver</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- <div class="ui basic modal" id="deleteModal">
    <div class="ui icon header">
        <i class="trash alternate outline icon"></i>
        Eliminar Destino Frecuente.
    </div>
    <div class="content">
        <p>¿Esta seguro de Eliminar el lugar frecuente?</p>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            No
        </div>
        <form>
            <div class="ui green ok inverted button" type="submit">
                <input type="hidden" id="fplace_id_dmodal" name="fplace_id_dmodal">
                <i class="checkmark icon"></i>
                Yes
            </div>
        </form>
        </a>
    </div>
</div> -->
<script src="/javascript/home.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/w/se/b-1.5.6/datatables.min.js"></script>

{% endblock %}