{% extends 'layout.html' %}

{% block header %}
<a class="item" style="color: black" id="menu">
    <i class="sidebar icon"></i>
    Menu
</a>
<!-- Acá irá la session del usuario actual y el icono de notificaciones -->
<div class="right menu">
    <a class="ui item" style="color: black" id="notification">
        <i class="bell outline icon"></i>
        Notificaciones
    </a>
    <div class="ui secondary menu" id="user_menu">
        <a class="browse item" id="user">
            <i class="user tie icon"></i>
            {% if username %}
            {{username}}
            {% else %}
            Usuario Fulanito
            {% endif %}
            <i class="dropdown icon"></i>
        </a>
        <!-- Contenido del menu del usuario -->
        <div class="ui fluid popup transition hidden" style="inset: 564.15px auto auto 1px; width: 960px;">
            <div class="ui relaxed grid">
                <h4 class="ui dividing header" style="margin: 0rem">Opciones</h4>
                <div class="ui link list" style="margin: 0.5rem">
                    <a class="item">Preferencias</a>
                    <a class="item" href="/">Cerrar sesión</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block body %}

<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">

<!-- Contenido del menu principal -->
<div class="ui fluid container" style="border:0rem;">
    <div class="ui inverted labeled icon left inline vertical sidebar menu">
        <a href="/home" class="item">
            <i class="home icon"></i>
            Home
        </a>
        <a href="/solicitud_nueva" class="item">
            <i class="file alternate icon"></i>
            Folo 6
        </a>
        <a href="/panel_de_aprobacion" class="item">
            <i class="tasks icon"></i>
            Aprobar Folos
        </a>
        <a href="/vehiculos" class="item">
            <i class="car side icon"></i>
            Flota Vehicular
        </a>
        <a href="/vales" class="item">
            <i class="gas pump icon"></i>
            Vales
        </a>
        <a href="/lugares_frecuentes" class="item">
            <i class="map marked alternate icon"></i>
            Administrar <br>
            Lugares Frecuentes
        </a>
        <a href="/nuevos_requerimientos" class="item">
            <i class="tasks icon"></i>
            Aprobar Requerimientos
        </a>
        <a href="/instituciones" class="item">
            <i class="building outline icon"></i>
            Administrar <br>
            Procuradurías
        </a>
        <a href="/rutas" class="item">
            <i class="route icon"></i>
            Rutas
        </a>
    </div>
    <div class="pusher">
        <div class="ui basic segment" style="margin:0rem;border:0rem;padding:0em;">
            <img class="ui fluid image" src="/images/banner.jpeg" alt="banner">
            <br>
            {% block views %}

            {% endblock %}
        </div>
    </div>
</div>

<script src="/javascript/a_index.js"></script>
{% endblock %}