include default
block content

.ui.top.attached.demo.menu
  a.item
    i.sidebar.icon
    font(style='vertical-align: inherit;')
      font(style='vertical-align: inherit;')
        | Men&uacute;
.ui.bottom.attached.segment.pushable
  .ui.visible.inverted.labeled.icon.left.inline.vertical.sidebar.menu
    a.item
      font(style='vertical-align: inherit;')
        font(style='vertical-align: inherit;')
          | Vehiculos
    a.item
      font(style='vertical-align: inherit;')
        font(style='vertical-align: inherit;')
          | Motoristas
    a.item
      font(style='vertical-align: inherit;')
        font(style='vertical-align: inherit;')
          | Rutas
    a.item
      font(style='vertical-align: inherit;')
        font(style='vertical-align: inherit;')
          | vales
    a.item
      font(style='vertical-align: inherit;')
        font(style='vertical-align: inherit;')
          | Calendarizacion
  .pusher
    .ui.basic.segment
      h3.ui.header
        font(style='vertical-align: inherit;')
          font(style='vertical-align: inherit;')
            | Contenido de la aplicaci&oacute;n
      p
        | Pruebas de sonido
      p
      p
      p


 

