<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="/fomantic-ui/dist/semantic.css">
    <script src="/fomantic-ui/dist/semantic.js"></script>
    <title>Transporte PGR</title>
    <link rel="icon" href="/images/bus.png" type="image/png" />
</head>

<body>
    {% block body %}


    {% endblock %}
</body>
<footer class="ui vertical inverted segment" style="position: absolute; bottom:1mm;width:100%">
    <div class="sub header" style="color: yellow">Procuraduria General de la República de El Salvador</div>
</footer>

</html>