<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/semantic-ui-css/semantic.js"></script>
    <link rel="stylesheet" type="text/css" href="node_modules/semantic-ui-css/semantic.css">
    <title><i class="car side icon"></i>sigestan</title>
</head>

<body>
    {% block body %}

    {% endblock %}
</body>
<footer class="ui vertical inverted segment">
    <div class="sub header">Procuraduria General de la República de El Salvador</div>
</footer>

</html>