<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="/fomantic-ui/dist/semantic.css">
    <script src="/fomantic-ui/dist/semantic.js"></script>
    <title>Transporte PGR</title>
    <link rel="icon" href="/images/bus.png" type="image/icon" />
</head>

<body>
    <!-- Contenido de la aplicación -->
    {% block body %}


    {% endblock %}
</body>
<!-- Footer de las páginas -->
<footer style="margin: 0rem;border:0rem;padding:0rem">
    <div class="ui bottom attached horizontal segments" style="margin:0rem;border:0rem;padding:0rem">
        <div class="ui inverted left aligned segment">
            <p>
                Procuraduria General de la República de El Salvador
            </p>
        </div>
        <div class="ui inverted left aligned segment">
            <p>
                Soperte técnico
            </p>
        </div>
        <div class="ui inverted compact segment">
            <table>
                <tr>
                    <td>Universidad de El Salvador <br>
                        Copyright <i class="copyright outline icon"></i>
                    </td>
                    <td style="width: 1em"></td>
                    <td><img src="/images/minerva.png" alt="ues" style="width:60px;height:50px;"></td>
                </tr>
            </table>
        </div>
    </div>
</footer>

</html>