{% extends 'layout.html' %}

{% block header %}
<div class="right menu">
    <a class="item" style="color: black">
        <i class="user tie icon"></i>
        Usted no se ha identificado.
    </a>
</div>
{% endblock %}

{% block body %}

<!-- <div style="margin-bottom: -15em;border: 0em;padding: 0em">
    <img class="ui fluid image" src="/images/banner.jpeg"></img>
</div> -->
<div class="ui fluid container">
    <img class="ui fluid image" src="/images/banner.jpeg"></img>
    <div class=" ui stackable middle aligned center aligned grid" style="margin:1rem;">
        <div class="column">
            <h2> Ingrese su cuenta</h2>
            <form class="ui large form" action="/auth" method="POST">
                <div class="ui stacked segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input name="username" placeholder="e-mail" type="text">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input name="password" placeholder="Password" type="password">
                        </div>
                    </div>
                    <button class="fluid ui button" type="submit">Iniciar sesion</button>
                </div>
                <div class="ui error message"></div>
            </form>
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
<script src="/javascript/a_login.js"></script>

{% endblock %}