{% extends "index.html" %}
{% block views %}



<div class="ui container">

    <h1 id="tittle" class="ui blue dividing header"><i class="calendar alternate icon"></i>Configuración Calendario</h1>


    <table class="ui celled table datatable" id="selectroutes" name="selectroutes" style="width: 70 em">
        <tbody>
            <tr class="top">
                <td class="center aligned">
                    Rutas <br>\<br> Motoristas
                </td>

                {% for ruta in rutas %}
                <td class="center aligned">
                    {{ruta}}
                    <br>
                    <br>

                    <input type="checkbox" class="master col-master" />

                </td>
                {% else %}
                <td class="center aligned">
                    No se encuentran rutas
                </td>
                {% endfor %}
            </tr>
            {% for motorista in motoristas %}
            <tr>
                <td class="center aligned">{{motorista}}</td>
                {% for ruta1 in rutas %}
                <td class="center aligned">

                    <input type="checkbox" name="motorista_rutas" class="child"> <label></label>

                </td>
                {% endfor %}
            </tr>
            {% endfor %}

        </tbody>
    </table>

    <br>
    <div class="botonera">
        <button class="ui left labeled icon button ui blue button">
            Atras
            <i class="arrow alternate circle left icon"></i>
        </button>
        <button class="ui button btnCancelar ui red button">
            Cancelar
        </button>
        <button class="ui right labeled icon button btnContinuar ui green button ">
            Continuar
            <i class="arrow alternate circle right icon"></i>
        </button>
    </div>

    <!-- modal cancelar -->
    <div class="ui basic modal" id="modalCancelar">
        <div class="ui icon header">
            <i class="exclamation triangle icon"></i>
            Advertencia
        </div>
        <div class="content">
            <p>¿Desea cancelar?<br></br>Se perderá la infromación seleccionada.</p>
        </div>
        <div class="actions">

            <a href="/home">
                <button class="ui green deny button">
                    <i class="checkmark icon"></i>
                    Aceptar
                </button>
            </a>
            <div class="ui red deny button">
                <i class="remove icon"></i>
                Cancelar
            </div>


        </div>
    </div>
    <!-- modal continuar -->
    <div class="ui basic modal" id="modalContinuar">
        <div class="ui icon header">
            <i class="info icon"></i>
            Información
        </div>
        <div class="content">
            <p>¿Datos correctos?</p>
        </div>

        <div class="actions">


            <button class="ui green deny button" id="btnInfoAceptar">
                <i class="checkmark icon"></i>
                Aceptar
            </button>

            <button class="ui red deny button">
                <i class="remove icon"></i>
                No
            </button>

        </div>
    </div>

</div>




<script src="/javascript/a_route_selection.js"></script>
<link rel="stylesheet" href="/stylesheets/route_selection.css">


{% endblock %}