<html>

<head>
    <link rel="stylesheet" href="scripts/semantic-ui-css/semantic.min.css">
    <script src="scripts/jquery/dist/jquery.min.js"></script>
    <script src="scripts/semantic-ui-css/semantic.min.js"></script>
</head>

<body>

    {% block body %}

    <section id="lista_vehiculos" class="ui center aligned container">
        <h1 id="title" class="ui header">Vehículos</h1>
        <table class="ui selectable celled table">
            <thead>
                <tr class="ui green table">
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Placa</th>
                    <th>Chasis</th>
                    <th>Motor</th>
                    <th># Asientos</th>
                    <th class="sorted descending">Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Toyota</td>
                    <td>Corolla</td>
                    <td>P369632</td>
                    <td>M/D</td>
                    <td>1.8</td>
                    <td>5</td>
                    <td class="positive">Funcional</td>
                </tr>
                <tr>
                    <td>Honda</td>
                    <td>Civic</td>
                    <td>P112568</td>
                    <td>YC136639</td>
                    <td>800</td>
                    <td>4</td>
                    <td class="negative">Dañado</td>
                </tr>
                <tr>
                    <td>Hyundai</td>
                    <td>Elantra</td>
                    <td>P169489</td>
                    <td>YC125639</td>
                    <td>800</td>
                    <td>4</td>
                    <td class="negative">Dañado</td>
                </tr>
            </tbody>
        </table>
    </section>

    <button class="ui button">Follow</button>

    {% endblock %}
</body>

</html>