{% extends 'index.html'%}

{% block views %}
<div id="exito" class="ui success message center aligned" style="display: none">
    <div class="header green">Éxito</div>
    <p>¡Registro guardado correctamente!</p>
</div>

<div id="lista_vehiculos" class="ui container">
    <h1 id="title" class="ui dividing header left">Vehículos</h1>
    <a href="/vehiculos/gestionar">
        <div id="nuevo" class="ui right floated animated blue button" style="margin-bottom:1em" tabindex="0">
            <div class="visible content">Nuevo</div>
            <div class="hidden content">
                <i class="plus icon"></i>
            </div>
        </div>
    </a>

    <table id="vehiculos" class="ui celled table datatable" style="width: 70 em">
        <thead>
            <tr style="text-align: center">
                <th>Placa</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Asientos</th>
                <th>Chasis</th>
                <th>Motor</th>
                <th>Estado</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% if vehicles.length > 0 %}
            {% for c in vehicles %}
            <tr>
                <td style="display: none">{{c.id}}</td>
                <td class="aligned">{{c.plate}}</td>
                <td class="center aligned">{{c.brand}}</td>
                <td class="center aligned">{{c.model}}</td>
                <td class="center aligned">{{c.seats}}</td>
                <td class="center aligned">{{c.chassis}}</td>
                <td class="center aligned">{{c.engine}}</td>
                {% set state = c.state %}
                <td id="state_table"
                    class={{"positive" if state == "funcional" else ("warning" if state == "mantenimiento" else "error")}}>
                    {% if state == "funcional" %}
                    <i class="check icon"></i>
                    {% elif state == "mantenimiento" %}
                    <i class="exclamation icon"></i>
                    {% else %}
                    <i class="x icon"></i>
                    {% endif %}
                    {{c.state | capitalize}}
                </td>
                <td><a href=""><i class="pencil yellow alternate icon"></i></a></td>
            </tr>
            {% endfor %}
            {% else %}
            <td colspan="7">No hay registros disponibles</td>
            {% endif %}
        </tbody>
    </table>
</div>

<script src="/javascript/vehicle/a_vehicle_list.js"></script>
<script src="/stylesheets/vehicle.css"></script>

{% endblock %}