{% extends 'base.html' %}
{% block views %}

<section id="lista_direcciones">
    <h1 id="title" class="ui header">Lista de direcciones.</h1>
    <table class="ui celled collapsing table">
        <thead>
            <tr class="ui green table">
                <th>Detalle:</th>
                <th>Departamento:</th>
                <th>Municipio:</th>
            </tr>
        </thead>
        <tbody>
            {% for dir in Direcciones %}
            <tr>
                <td>{{ dir.detail }}</td>
                <td>{{ dir.deparment.name }}</td>
                <td>{{ dir.city.name }}</td>

            </tr>
            {% else %}
                <p>No hay direcciones disponibles.</p>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}