{% extends 'index.html'%}

{% block views %}
<div class="ui container">
    <div class="ui vertically divided grid">
        <div class="sixteen wide column">
            <br>
            <h1 id="title" class="ui blue dividing header"><i class="print icon"></i>Reportes</h1>
            <table class="ui celled table datatable" id="mytable" name="mytable" style="width: 100%">
                <thead>
                    <tr>
                        <th style="width: 15em;">Cod</th>
                        <th style="width: 10em;">Nombre</th>
                        <th style="width: 10em;">Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <!-- Código del reporte -->
                        <td>1</td>
                        <!-- Nombre del reporte -->
                        <td>Nombre del reporte</td>
                        <!-- Descripcion del reporte -->
                        <td>Descripción del reporte</td>
                        <td>
                            <!-- Colocar aqui las url en el atributo onclick -->
                            <button class="ui primary button" onclick=""> <i class="icon print"></i> Imprimir
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- JS principal -->
<script src="/javascript/reportes/reportes.js"></script>
<!-- JS principal -->


{% endblock %}