input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.dataTables_scrollBody {
    overflow-x: hidden !important;
    overflow-y: auto !important;
}

.dataTables_wrapper {
    overflow: auto;
}