{% extends 'index.html' %}
{% block views %}
<div class="ui container" id="bad">
    <div class="ui vertically divided grid">
        <div class="sixteen wide column">
            <br>
            <input type="hidden" id="messagetype" value="{{atype}}">
            <input type="hidden" id="messageinfo" value="{{message}}">
            <h1 id="title" class="ui blue dividing header"><i class="clipboard check icon"></i>Aprobación de
                Requerimientos</h1>
            <table class="ui celled table datatable" id="mytable" name="mytable" style="width: 100%">
                <thead>
                    <tr>
                        <th>Fecha Salida:</th>
                        <th>Solicitante:</th>
                        <th>Pasajeros:</th>

                        <th>Opciones:</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Recibiendo todas las direcciones e insertandolas en la tabla -->
                    {% for folo in data %}
                    <tr>
                        <td>{{ folo.off_date }}</td>
                        <td>{{ folo.first_name }} {{ folo.last_name }}</td>
                        <td>{{ folo.passengers_number }}</td>
                        <td>{{ folo.mission }}</td>
                        <td class="btnDelete">
                            <input type="hidden" id="folo06_id" name="folo06_id" value="{{folo.folo6id}}">
                            <i class="large file grey alternate outline link icon" title="Mostrar Requerimiento"></i>
                            <i class="large check green circle outline link icon" title="Aprobar Requerimiento"></i>
                            <i class="large red window close link icon" title="Denegar Requerimiento"></i>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}