{% extends 'index.html' %}

{% block views %}
<div class="ui container">
    <div class="ui vertically divided grid">
        <div class="one column row">
            <div class="column">
                <form class="ui form" id="frm-prueba" action="/lugares_frecuentes/add" method="POST">
                    <br>
                    <h1 class="ui header">Agregar una Direccion Frecuente.</h1>
                    <div class="required field">
                        <label>Lugar de Destino:</label>
                        <input type="text" name="name" id="name" placeholder="Nombre del Destino" maxlength="100">
                    </div>
                    <div class="required field">
                        <label>Direccion:</label>
                        <input type="text" name="detail" id="detail" maxlength="150"
                            placeholder="#Casa o local,#Pasaje o Calle,Nombre colonia o urbanización.">
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <div class="eight wide field ">
                                <div class="required field">
                                    <label>Departamento:</label>
                                    <select class="ui fluid dropdown" id="departamento" name="departamento">
                                        <option value="">--Seleccione un departamento--</option>
                                        {% for dep in Departamentos %}
                                        <option value="{{ dep.id }}">{{ dep.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="six wide field">
                                <div class="required field">
                                    <label>Municipio:</label>
                                    <select class="ui fluid dropdown" id="municipio" name="municipio">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui error message">
                    </div>
                    <button class="ui positive button" type="submit">Guardar Direccion</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#frm-prueba').form({
            inline: true,
            on: 'change',
            fields: {
                name: {
                    identifier: 'name',
                    rules: [{
                        type: 'empty',
                        prompt: 'Ingrese un nombre para la Dirección'
                    }, {
                        type: 'maxLength[100]',
                        prompt: 'Longitud Maxima de nombre 100 caracteres'
                    }, {
                        type: 'Alphanumeric',
                        prompt: 'El campo nombre solo acepta caracteres alfanumericos.'
                    }]
                },
                detail: {
                    identifier: 'detail',
                    rules: [{
                        type: 'empty',
                        prompt: 'Ingrese un Detalle de Direccion.'
                    }, {
                        type: 'maxLength[150]',
                        prompt: 'Longitud Maxima del detalle 150 caracteres'
                    }]
                },
                departamento: {
                    identifier: 'departamento',
                    rules: [{
                        type: 'empty',
                        prompt: 'Seleccione un Departamento'
                    }]
                },
                municipio: {
                    identifier: 'municipio',
                    rules: [{
                        type: 'empty',
                        prompt: 'Seleccione un Municipio'
                    }]
                },
            }
        })
    });
</script>

<script type="text/javascript">
    $('#departamento').change(function () {
        var selectedDepartamento = $("#departamento").val();
        var municipiosSelect = $('#municipio');
        municipiosSelect.empty();
        if (selectedDepartamento != null && selectedDepartamento != '') {
            $.getJSON('http://localhost:3000/direccion/getMunicipios', {
                selectedDepartamento
            }, function (municipios) {
                if (municipios != null && !jQuery.isEmptyObject(municipios)) {
                    municipiosSelect.append($('<option/>', {
                        value: null,
                        text: "--Seleccione un municipio--"
                    }));
                    $.each(municipios, function (index, municipio) {
                        municipiosSelect.append($('<option/>', {
                            value: municipio.id,
                            text: municipio.name
                        }));
                    });
                };
            });
        };
    });
</script>

{% endblock %}