{% extends 'index.html' %}

{% block views %}
<div class="ui container">
    <div class="ui vertically divided grid">
        <div class="one column row">
            <div class="column">
                <br>
                <form class="ui form" action="/lugares_frecuentes/list" method="GET" autocomplete="off">
                    <button class="ui right labeled icon button" type="submit">
                        <i class="left arrow icon"></i>
                        Volver al Listado
                    </button>
                </form>
                <br>
                <form class="ui form" id="frm-prueba" action="/lugares_frecuentes/add" method="POST">
                    <h1 class="ui header">Agregar una Direccion Frecuente.</h1>
                    
                        {# And Snippet #}
                        {% if Mstate  %}
                        <div class="ui negative message">
                            <i class="close icon"></i>
                            <div class="header">
                                El lugar de destino ya existe
                            </div>
                        </div>
                        {% endif %}

                        {# Or Snippet #}
                        {% if Mstate2 %}
                            <div class="ui success message">
                                <i class="close icon"></i>
                                <div class="header">
                                    Lugar de Destino Agregado con Exito
                                </div>
                            </div>
                        {% endif %}
                    
                    <div class="required field">
                        <label>Lugar de Destino:</label>
                        <input type="text" autocomplete="off" name="name" id="name" placeholder="Nombre del Destino"
                            maxlength="150" value={{name}}>
                    </div>
                    <div class="required field">
                        <label>Direccion:</label>
                        <input type="text" autocomplete="off" name="detail" id="detail" maxlength="200"
                            placeholder="#Casa o local,#Pasaje o Calle,Nombre colonia o urbanización." value={{detail}}>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <div class="eight wide field ">
                                <div class="required field">
                                    <label>Departamento:</label>
                                    <select class="ui fluid dropdown" id="departamento" name="departamento">
                                        <option value="">--Seleccione un departamento--</option>
                                        {% for dep in Departamentos %}
                                        <option value="{{ dep.id }}">{{ dep.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <div class="six wide field">
                                <div class="required field">
                                    <label>Municipio:</label>
                                    <select class="ui fluid dropdown" id="municipio" name="municipio">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui error message">
                    </div>
                    <button class="ui positive button" type="submit">Guardar Direccion</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/javascript/a_frequent_places_add.js"></script>
<script src="/javascript/a_load_dropdown_city.js"></script>

{% endblock %}