{% extends 'index.html' %}


{% block views %}
<div id="exito" class="ui success message center aligned" style="display: none">
    <div class="header green">Éxito</div>
    <p>¡Registro guardado correctamente!</p>
</div>

<div class="ui container" id="bad">
    <div class="ui vertically divided grid">
        <div class="sixteen wide column">
            <br>
            <h1 id="title" class="ui blue dividing header"><i class="map icon"></i>Lista de lugares frecuentes</h1>
            <a href="/lugares_frecuentes/nuevo"><button class="ui ui labeled icon  right floated blue button"
                    type="submit"><i class="plus icon"></i>Agregar
                </button></a>
            <br>
            <input type="hidden" id="messages" name="messages" value="{{messages}}">
            <br>
            <br>
            <table class="ui celled table datatable" id="mytable" name="mytable" style="width: 100%">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Detalle:</th>
                        <th>Departamento:</th>
                        <th>Municipio:</th>
                        <th>Acciones:</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Recibiendo todas las direcciones e insertandolas en la tabla -->
                    {% for fplace in fplaces %}
                    <tr data-id="{{fplace.id}}">
                        <td>{{ fplace.name}}</td>
                        <td>{{ fplace.detail }}</td>
                        <td>{{ fplace.department.name }}</td>
                        <td>{{ fplace.city.name }}</td>
                        <td>
                            <i class="yellow big edit icon" value={{fplace.id}}></i>
                            <i class="red big window close icon" value="{{fplace.id}}"></i>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<br>

<div class="ui basic modal" id="deleteModal">
    <div class="ui icon header">
        <i class="trash alternate outline icon"></i>
        Eliminar Destino Frecuente.
    </div>
    <div id="fix_center">
        <div class="content">
            <p>¿Esta seguro de Eliminar el lugar frecuente?</p>
        </div>
        <div class="ui green ok inverted button" type="submit">
            <i class="checkmark icon"></i>
            Aceptar
        </div>
    </div>
</div>

<script src="/javascript/frequent_places/a_frequent_places_list.js"></script>
<link rel="stylesheet" href="/stylesheets/datatablefix.css">
</link>
<link rel="stylesheet" href="/stylesheets/frequent_places/frequent_places_list.css">

{% endblock %}