{% extends 'index.html' %}
{% block views %}
<br><br>
<div class="ui container" id="bad">
    <div class="ui vertically divided grid">
        <div class="one column row">
            <div class="column">
                <form class="ui form" id="frm-prueba" action="/motoristas/gestionar" method="POST">
                    {% if driver.id %}
                    <h1 class="ui header">Editar Motorista</h1>
                    {% else %}
                    <h1 class="ui blue dividing header">Agregar un Motorista</h1>
                    {% endif %}
                    <div class="two fields">
                        <div class="required field">
                            <label>Nombres:</label>
                            <input type="text" autocomplete="off" name="first_name" id="first_name"
                                placeholder="Nombres" maxlength="150" value="{{driver.first_name}}">
                        </div>
                        <div class="required field">
                            <label>Apellidos:</label>
                            <input type="text" autocomplete="off" name="last_name" id="last_name"
                                placeholder="Apellidos" maxlength="150" value="{{driver.last_name}}">
                        </div>
                    </div>
                    <div class="three wide field">
                        <label for="calendar1">Fecha de Nacimiento: </label>
                        <div class="ui calendar" id="standard_calendar">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" placeholder="Seleccione fecha" name="calendar1" autocomplete="off"
                                    id="calendar1" value="{{driver.fechaIngreso}}">
                            </div>
                        </div>
                    </div>
                    <h3 class="ui blue dividing header">Licencia.</h3>
                    <div class="two fields">
                        <div class="five wide required field">
                            <label>Numero:</label>
                            <input autocomplete="off" name="driver_license" id="driver_license"
                                placeholder="Numero debe incluir guiones" maxlength="17"
                                value="{{driver.driver_license}}">
                        </div>
                        <div class="three wide required field">
                            <label>Tipo:</label>
                            <select class="ui fluid search dropdown" name="license_type" id="license_type">
                                {% for value, tipo in tipos %}
                                {% if value == driver.license_type %}
                                <option value={{value}} selected>{{tipo}}</option>
                                {% else %}
                                <option value={{value}}>{{tipo}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <label>Fecha de Vencimiento:</label>
                    <div class="two fields">
                        <div class="three wide required field">
                            <label>Mes:</label>
                            <select class="ui fluid search dropdown" name="month" id="month">
                                {% for value, mes in meses %}
                                {% if value == driver.license_month %}
                                <option value={{value}} selected>{{mes}}</option>
                                {% else %}
                                <option value={{value}}>{{mes}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="two wide required field">
                            <label>A&ntilde;o:</label>
                            {% if driver.license_year %}
                            <input type="number" name="anio" min="2019" max="2050" value="{{driver.license_year}}"
                                id="anio">
                            {% else  %}
                            <input type="number" name="anio" min="2019" max="2050" value="{{año_actual}}" id="anio">
                            {% endif %}

                        </div>
                    </div>

                    <button class="ui positive button" type="submit">Guardar</button>
                    <input id="driver_id" name="driver_id" type="hidden" value="{{driver.id}}">
                    <a href="/motoristas">
                        <div class="ui left floated animated button" style="margin-bottom:1em" type="button">
                            <div class="visible content">Volver</div>
                            <div class="hidden content"><i class="left arrow icon"></i></div>
                        </div>
                    </a>
                </form>
                {% if errors %}
                <div class="ui error message" style="width:30em">
                    <i class="close icon"></i>
                    <div class="header">
                        Errores al Insertar
                    </div>
                    <ul class="list">
                        {% for error in errors %}
                        <li>{{error.msg}}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% if error %}
                <div class="ui error message" style="width:30em">
                    <i class="close icon"></i>
                    <div class="header">
                        Errores al Insertar
                    </div>
                    <ul class="list">
                        <li>{{error}}</li>
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script src="/javascript/driver/a_driver_add.js"></script>
<link rel="stylesheet" href="/stylesheets/frequent_places/frequent_places_add.css">
{% endblock %}