 <table class="ui selectable table" id="mytable" name="mytable" style="width: 100%; border: none;">
     <thead>
         <tr>
             <th style="border: none;">Ruta</th>
             <th style="border: none;">Utilizar</th>
         </tr>
     </thead>
     <tbody>
         {% if route_list %}
         {% for ruta in route_list %}
         <tr>
             <td style="border: none;">{{ ruta.name }}</td>
             <td style="border: none; ">
                 <div class="ui toggle checkbox">
                     <input type="checkbox" class="switch" name="switch[]" id="switch"><label></label>
                 </div>
             </td>
         </tr>
         {% endfor %}
         {% endif %}
     </tbody>
 </table>