<table class="ui celled table datatable" id="selectroutes" name="selectroutes" style="width: 70 em">
    <tbody>
        <tr class="top colorthead">
            <td class="center aligned">
                <b>Rutas.</b>
            </td>
            {% if route_list %}
            {% for ruta in route_list %}
            <td rowspan="2" class="center aligned">
                <b>{{ruta.name}}</b>
                <br>
                <br>
                <div class="ui checkbox">
                    <input type="checkbox" class="col-master chk">
                    <label></label>
                </div>
            </td>
            {% endfor %}
            {% endif %}
        </tr>
        <tr class="top colorthead">
            <td class="center aligned">
                <b>Motoristas.</b>
            </td>
        </tr>
        {% if motoristas %}
        {% for motorista in motoristas %}
        <tr>
            <td class="center aligned">
                {{motorista}}
                <br>
                <div class="ui checkbox">
                    <input type="checkbox" class="row-master chk">
                    <label></label>
                </div>
            </td>
            {% if route_list %}
            {% for ruta1 in route_list %}
            <td class="center aligned">
                <div class="ui checkbox">
                    <input type="checkbox" name="motorista_rutas" class="child chk">
                    <label></label>
                </div>
            </td>
            {% endfor %}
            {% endif %}
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
<!-- fin de tabla -->