{% extends 'config_calendar/sub_menu.html' %}

{% block config_calendar %}

<div class="ui container">
    <div class="ui vertically divided grid">
        <div class="sixteen wide column">
            <br>
            <h1 id="title" class="ui blue dividing header"><i class="calendar alternate icon"></i> Configuracion
                Calendario</h1>
            <br>
            <table class="ui selectable table" id="mytable" name="mytable" style="width: 100%; border: none;">
                <thead>
                    <tr>
                        <th style="border: none;">Ruta</th>
                        <th style="border: none;">Utilizar</th>
                    </tr>
                </thead>
                <tbody>
                    {% if route_list %}
                    {% for ruta in route_list %}
                    <tr>
                        <td style="border: none;">{{ ruta.name }}</td>
                        <td style="border: none; ">
                            <div class="ui toggle checkbox">
                                <input type="checkbox" class="switch" name="switch[]" id="switch"><label></label>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
            <br>
            <div class="botonera">
                <button class="ui button btnCancelar ui red button">
                    Cancelar
                </button>
                <button class="ui right labeled icon button btnSiguiente ui green button " id="btnSiguiente">
                    Siguiente
                    <i class="arrow alternate circle right icon"></i>
                </button>
            </div>

            <!-- modal cancelar -->
            <div class="ui mini inverted modal" id="modalCancelar">
                <div class="ui icon header">
                    <i class="exclamation triangle icon"></i>
                    Advertencia
                </div>
                <div class="content">
                    <p>¿Desea cancelar?<br></br>Se perderá la información seleccionada.</p>
                </div>
                <div class="actions">
                    <a href="/home">
                        <div class="ui green ok inverted button">
                            <i class="checkmark icon"></i>
                            Aceptar
                        </div>
                    </a>
                    <div class="ui red deny button">
                        <i class="remove icon"></i>
                        Cancelar
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script src="/javascript/config_calendar/a_config_calendar.js"></script>
<link rel="stylesheet" href="/stylesheets/config_calendar.css">

{% endblock %}