{% extends 'index.html'%}

{% block views %}
<div class="ui menu" style="margin-top: 0rem;margin-bottom: 0rem;">
    <div class="header item">
        <i class="big icons" style="padding-right: 0.5rem;">
            <i class="calendar outline icon"></i>
            <i class="inverted corner settings icon"></i>
        </i>
        <span class="ui black text" style="padding-left:0.5rem;">Configuración de calendario</span>
    </div>
    <a class="item link active" id="routes">
        <i class="route icon"></i>
        Rutas
    </a>
    <a class="item link" id="drivers_routes">
        <i class="tasks icon"></i>
        Asignación de motorista
    </a>
    <a class="item link" id="calendar">
        <i class="calendar alternate outline icon"></i>
        Calendario
    </a>
</div>

{% block config_calendar %}

{% endblock %}

<link rel="stylesheet" href="/stylesheets/sub_menu.css">

{% endblock %}